@font-face {
    font-family: "Pixelify Sans", sans-serif;
    font-style: normal;
    src: url(./domain.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    cursor: url(./assets/cursor.gif),auto;
}

#main {
    background-image: url('./assets/backstar.gif'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
}

#page1 {
    height: 110vh;
    width: 100vw;

    background-image: url('./assets/2.gif'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
}

#nav {
    height: 110px;
    width: 100%;
    display: flex;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #222;
    background-image: url('./assets/bg1.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

#nav img {
    height: 62px;
    width: 24%;
}



#nav h5 {
    font-size: 20px;
    font-weight: 100;
    width: 30%;

}

#nav i {
    width: 30%;
    text-align: right;
}

#elems {
    /* background-color: red; */
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
}

#elem1 {
    width: 30%;
    height: 100%;
   


}

#elem2 {
    width: 30%;
    height: 100%;
    border-right: 2px solid #acacac;
    padding: 20px 60px;
    text-align: center;
    border-left: 2px solid #a5a5a5;
}

#elem3 {
    width: 30%;
    height: 100%;
}

#elem1 #image-div {
    height: 60%;
    width: 100%;
    overflow: hidden;

    border:"url(assets/retro-3107950_1280.png)"; 
    border-radius: 1px; 
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


#image-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
}

#elem3 #image-div {
    height: 60%;
    width: 100%;
    overflow: hidden;
}

#image-div:hover img {
    scale: 1.1;
}

#elem1 h4 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

#elem1 h4 span {
    background-color: #B43B12;
    color: #C4BCB3;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 18px;
    padding: 4px;
    margin-left: 10px;
    border-radius: 5px;
}

#elem1 p, #elem3 p {
    font-size: 23px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: #fff8f8;
}

#elem3 h4 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#elem3 h4 span {
    background-color: #B43B12;
    color: #C4BCB3;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 18px;
    padding: 4px;
    margin-left: 10px;
    border-radius: 5px;
}



#elem2 h2 {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 75px;
    
}

#elem2 h3 {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 50px;
    /* background-color: red; */
    color: #2f2f2f;
    margin: 20px 0;
}

#elem2 h6 {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    /* background-color: red; */
    color: #2f2f2f;

}

#page1 h1 {
    font-size: 700px;
    letter-spacing: -25px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    background-color: #1C1C19;
    color: #C4BCB3;
    line-height: 600px;
    width: 96%;
    margin-left: 2%;
}

#page2 {
    height: 150vh;
    width: 100%;
    background-image: url('./assets/bg1.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 40px;
}

#page2-left {
    height: 100%;
    padding-right: 50px;
    width: 35%;
    font-family: "Pixelify Sans", sans-serif;
    border-right: 1px solid #4b4b4b;
}

#page2-left h2 {
    font-size: 150px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 150px;
    font-weight: 100;
}

#page2-left h2 span {
    font-size: 210px;
    font-weight: 900;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#page2-left img {
    height: 50%;
    width: 100%;
    object-fit: cover;
}

#page2-left p {
    font-size: 34px;
    font-family: "Pixelify Sans", sans-serif;
    color: #040404;
    margin-top: 20px;
}

#page2-right {
    font-family: "Pixelify Sans", sans-serif;
    height: 100%;
    width: 70%;
    padding: 0 60px;
}

#page2-right img {
    height: 53%;
    object-fit: cover;
    width: 100%;
}

#page2-right h1 {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 140px;
    font-weight: 100;
    letter-spacing: -1px;
}

#page3 {
    padding-bottom: 100px;
    position: relative;
    background-image: url('./assets/pixel_bg.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#page3 h1 {
    font-size: 100px;
    font-weight: bold; /* Retro fonts often use bold weight */
    letter-spacing: 2px; /* Adjust for a pixelated or blocky look */
    text-shadow: 2px 2px #333; /* Add shadow for a classic arcade vibe */
    background-image: url('./assets/milkindexbg.gif'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: fit-content;
    color: #ee00f6;
    margin-left: 2%;
    padding: 0 20px;
    line-height: 500px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#page3 img {
    height: 450px;
    position: absolute;
    top: 0;
    right: 3%;

}

#page4 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-image: url('./assets/milkindexbg.gif'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#page4-left {
    width: 65%;
    height: 100%;
    padding: 80px 60px;
}

#page4-left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page4-right {
    width: 35%;
    height: 100%;
    padding: 80px 60px;
}

#page4-right p {
    font-size: 34px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: #2f2f2f;
    margin-bottom: 150px;
    line-height: 35px;
}

#page4-right #anda {
    height: 260px;
    background-image: url('./assets/8-bit-graphics-pixels-scene-with-tulip-field.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #fcf3f3c6;
    border-radius: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
}

#anda h2 {
    font-size: 100px;
    font-weight: 100;
    font-family: "Pixelify Sans", sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-15%);
    transition: all ease 0.6s;
}

#anda img {
    height: 60px;
    transition: all ease 0.6s;

    transform: translateX(-120%);
}

#anda:hover img {
    transform: translateX(76%);

}

#anda:hover h2 {
    transform: translateX(100%);

}

#page5 {
    padding: 25px 0;
    width: 100%;
    border-top: 1px solid #2f2f2f;
    border-bottom: 1px solid #2f2f2f;

    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    background-image: url('./assets/backstar.gif'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#page5::-webkit-scrollbar {
    display: scroll;
}

#page5 span {
    font-size: 100px;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 100;
    display: inline-block;
    background-image: url('./assets/backstar.gif'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation-timing-function: linear;
    margin-right: 30px;
    animation-name: scroll;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}




@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% - 34px));
    }
}

#page5:hover h1{
    animation-play-state: paused;
}